.icon{
    font-size: 30px;
    cursor: pointer;
}

.deleteBtn{
    color: rgba(167, 5, 5, 0.8);
}
.deleteBtn:hover{
    color: rgb(167, 5, 5);
}

.editBtn{
    color: rgba(0, 128, 0, 0.8);
    font-size: 26px;
}
.editBtn:hover{
    color: rgba(0, 128, 0);

}